@import 'tailwindcss';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@theme {
  --color-orange: #ea3c12;
  --color-black: #111322;
  --color-gray-50: #7d7986;
  --color-gray-40: #a4a1aa;
  --color-gray-30: #cbc9cf;
  --color-gray-20: #e5e4e7;
  --color-gray-10: #f2f2f3;
  --color-gray-5: #fafafa;
  --color-white: #ffffff;
  --color-red-40: #ff4040;
  --color-red-30: #ff8d72;
  --color-red-20: #ffaf9b;
  --color-red-10: #ffebe7;
  --color-blue-20: #0080ff;
  --color-blue-10: #cce6ff;
  --color-green-20: #20a81e;
  --color-green-10: #d4f7d4;
  --color-kakao: #fee500;
  --color-black: #000;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* gray-500 */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, 0.5); /* gray-200 */
}
